.col-md-6.col-md-offset-3
  %h3
    Hello! I`m Yours personal ToDo tasker
  %hr
  #list-container
    =render 'list'
  %hr
  .form-field
  = link_to 'new task',  new_list_path, remote: true, class:( 'pull-right btn btn-info  btn-md')

