%div.col-xs-8.col-xs-offset-2{"ng-app" => "todo"}
  %br
  .view-container
    %div.view-frame.animate-view{"ng-view" => ""}

  %a{"href" => "/qqqs"}
    link
  = link_to "ToDo App", lists_path, class:("btn btn-success")