%div.col-xs-8.col-xs-offset-2{"ng-app" => "ToDo"}
  %br
  %div.panel.panel-success
    %div.panel-heading
      %h1{"ng-if" => "name"}
        Hello, {{name}}
    .panel-body
      %form.form-inline
        .form-group
          %input.form-control{"placeholder" => "Enter your name",  "ng-model" => "name"}
  = link_to "ToDo App", lists_path, class:("btn btn-success")