.ng-todo
  .col-xs-10.col-xs-offset-1
    %h3
      Todo App:
    %hr
    %div.input-group.pull-left
      %input.form-control{"ng-model" => "task.body"}
    %button.btn.btn-success.pull-right{"ng-click" => "addTask()"}
      Do it!
  .clearfix
  %hr
  %ul
    %li{"ng-repeat" => "task in list"}
      %p{"ng-click" => "show(task.id)"}
        {{ task.body }}
        %span{"ng-click" => "edit(task)"}
          edit
        %span{"ng-click" => "delete(task)"}
          x
    %hr
  .clearfix
    %div{"ng-show" => "print"}
      %h4
        {{ print.body }}
      %p
        created at:
        %b
        {{ print.created_at | date: "MM/dd/yyyy"}}
  .clearfix