%h3
  hello 1
%div.input-group.pull-left
  %input.form-control{"ng-model" => "task.list.body"}
%button.btn.btn-success.pull-right{"ng-click" => "addTask()"}
  Add!
.clearfix
%ul
  %li{"ng-repeat" => "task in lists"}
    %p{"ng-click" => "show(task.id)"}
      {{ task.body }}
%div{"ng-show" => "print"}
  %h3
    {{ print.body }}
  %p
    {{ print.created_at }}