.ng-todo.col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-12.col-sm-offset-0
  .some
    %h3
      Get Shit Done!
    %hr
    .input-container
      %div.input-group.pull-left
        %input.form-control{"ng-model" => "task.body", "placeHolder" => "Your task goes here"}
        %br
        Select category:
        %select{"ng-model" => "task.category_id", "convert-to-number" => ""}
          %option{"value" => "1"}
            home
          %option{"value" => "2"}
            work
      %button.btn.btn-success.pull-right{"ng-click" => "addTask()"}
        Do it!
  .clearfix
  %hr

  %tabset
    %tab{"ng-repeat" => "cat in catlist.categories", "heading" => "{{cat.body}}", "active" => "cat.active", "disable" => "cat.disabled"}
      %br
      %ul
        %li{"ng-repeat" => "task in cat.lists"}
          %p{"ng-click" => "show(task.id)"}
            {{ task.body }}
            %span{"ng-click" => "edit(task)"}
              edit
            %span{"ng-click" => "delete(task)"}
              x
  .clearfix
    %div{"ng-show" => "print"}
      %h4
        {{ print.body }}
      %p
        created at:
        %b
          {{ print.created_at | date: "MM/dd/yyyy"}}
        category:
        %b
          {{ print.cat_title }}
  .clearfix