%h3
  hello i`m second page!
%input{"ng-model" => "count"}
%button.btn.btn-warning{"ng-click" => "doIt(count)"}
  x
  %sup
    2
%h4{"ng-show" => "result"}
  {{ showCount }} x {{ showCount }} is: {{ result }}
%h6
