// Place all the styles related to the List controller here.
// They will automatically be included in application.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lists
  p.list-item:nth-child(odd)
    background-color: #F7F7F7
    width: 100%
  p.list-item
    padding: 2px 0 2px 5px
    span
      position: absolute
      right: 0
